<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
	<!-- Google Fonts (Montserrat & Opens Sans Family Set CDN -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- FontAwesome Icon Library CDN -->
	<script src="https://use.fontawesome.com/138f088c7e.js"></script><script src="https://cdn.fontawesome.com:443/js/stats.js"></script><link href="https://use.fontawesome.com/138f088c7e.css" media="all" rel="stylesheet">
</head>