$color-dark-primary: #162945;
$color-dark-secondary: #647083;
$color-grey-primary: #B1B8C1;
$color-grey-secondary: #EEEEEE;
$color-grey-terciary: #DDDDDD;
$color-light-primary: #FFFFFF;
$color-light-secondary: #F9F9F9;
$color-alert-success: #F6FFF5;

$size-smallest: 10px;
$size-smaller: 11px;
$size-small: 13px;
$size-medium: 15px;
$size-big: 18px;
$size-big-detail: 17px;
$size-biger: 20px;
$size-biger-detail: 24px;
$size-bigest: 32px;